/*FULL DESKTOP*/

html {
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
	display:inline-block;
}

body {
	text-align: center;
	margin: 0 0 100px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


h1{
	color:	#7BAFD4;
	font-size:28px;
	padding-bottom:0;
	font-weight:bold;
	font-family: 'Georgia', Times, Times New Roman, serif;.
}

h2{
	color: 	#7BAFD4;
	font-size:24px;
	font-weight:bold;
	font-family: 'Georgia', Times, Times New Roman, serif;.
}

h3{
	color: #777777;
	font-family: 'Georgia', Times, Times New Roman, serif;.
	font-size:18px;
}


hr{
	margin-bottom: 20px;
	color: #f00;
	background-color: #cccccc;
	height: 2px;
	 border: 0;
}


#nav{
	width: 100%;
	height:100%;
	background: white;

}

.div1 {

  width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
	z-index:1;
	display:block;
}

#header{
	display: inline-block;
	width: 960px;
	background: #ffffff;
	margin:0px;
	z-index:2;
}


#name{
	background-color: 	#7BAFD4;
	color: #ffffff;
	float: left;
	padding:20px 30px 20px 30px;
	font-size: 28px;
	margin: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

#link {
	font-size:16px;
	text-align:right;
	margin:25px 25px 0px 0px ;
	font-weight:bold;
	color:#777777; 
	
}

#link a{
	text-decoration: none;
	color: #777777;
	padding: 0px 10px;
	}

#link a:hover{
	color: #f1f1f1;
	transition: 0.3s ease-in-out;
	font-weight:bold;
}

#link a:active{
	color: #7BAFD4 ;
}


#headerborder{
	background: #cccccc;
	width: 100%;
	height: 3px;
	margin: 0;
}

#main{
	width:960px;
	display: inline-block;
	margin-top: 50px;
}

#content{
	text-align: left;
	background: #ffffff;
	width: 650px;
	float: left;
	padding: 20px;
	box-sizing: border-box; 
	margin-bottom: 100px;
	border-radius: 15px;
}

.imagewrapper{
	 position: relative;
	 overflow: hidden;
	 width:300px;
	 height:200px;
	 display: inline-block;
	 margin:0px 0px 0px 0px;
	 border-style:solid;
	 border-width:1px;
	
}

.label{
  position: absolute;
  bottom: 0;
  left: 0;
  background: #7BAFD4;
  opacity: 0.8;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 10px;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #ffffff;
  text-decoration: none;
}

.label:hover{
	color:#b8b8b8;
	opacity:0.8;
	transition: 0.3s ease-in-out;
}

img.index{
	float:left;
	margin-right:20px;
	border-radius: 10px;
	border-style:solid;
	border-width:0px;
	border-color:#000000;
}



img.portfolio{
	margin: 0px 0px 0px 0px;
	width:100%;
}

#content p{
	float:right;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	color: #777777;
	line-height:130%;
	margin-top:8px;
	margin-bottom:10px;
	text-align:justify;
	font-size:16px;
	line-height: 24px;
	text-indent: 25px}

#side{
	background: #ffffff;
	width: 270px;
	float: right;
	padding: 26px 10px 20px 10px;
	border-radius: 15px;
	margin-bottom:20px;
}

#side img{
	width: 50px;
	margin:0;

	margin-bottom: 5px;
}


#side a{
	text-decoration: none;
	padding:0;
	margin-left:5px;
}

#side img:hover {
    box-shadow: 0 0 4px 2px #7BAFD4;
    transition: box-shadow 0.3s ease-in-out;
}

#footerborder{
	background: #7BAFD4;
	width: 100%;
	height: 5px;
}


footer{
	display: inline-block;
	background: #666666;
	width: 100%;
	position: absolute;
    left: 0px;
	bottom:0px;
	height:100px;
    overflow: hidden;
}

footer p{
	text-align: center;
	color: #777777;	
	margin:40px;
}


input[type=text]{
	width:100%;
	font-size: 16px;
	color: #777777;
	padding:5px 0 5px 5px;
	margin: 10px 0 10px 0;
	box-sizing: border-box;
}


input[type=text]:focus{
	background-color:#7BAFD4;
	transition: background-color 0.3s ease-in-out;
}


textarea[type=comment]{
	width:100%;
	height: 200px;
	overflow: scroll;
	font-size: 16px;
	color: #777777;
	padding: 5px 0px 5px 5px;
	margin: 10px 0 10px 0;	
	box-sizing: border-box;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}

.button1 {
	background:#7BAFD4;
	color:#ffffff;
	font-size:20px;
	padding: 15px 25px 15px 25px;
	border:0;
	margin-top: 22px;

}

.button1:hover{
	background:#777777;
	color:#7BAFD4;
}	

@media screen and (max-width:980px){
	
	body{font-size:100%;}
	h1{font-size:190%;font-weight:bold;}
	h2{font-size:150%;}
	#nav{width:100%;}
	#header{width:80%; }
	#name{font-size:150%;padding:25px;}
	#link {margin:auto;padding:25px 0px;}
	#link a{font-size:120%;border-style:solid;border-left:1px;}
	#main{width:80%;box-sizing:border-box;margin-bottom:20px;}
	#content{width:63%;box-sizing:border-box;margin:0px;}
	#side{width:33%;box-sizing:border-box;}
	.imagewrapper{width:100%;height:5%;margin-bottom:10px; display:block; }
	.label{ width:100%; margin-bottom:10%; font-size:32px; }
	img.index{width:90%;float:none;text-align:center;margin-bottom:10px;}
	#content p{font-size:120%;margin-top:10px;}

}

@media screen and (max-width:768px) {
	
	body{font-size:100%;}
	h1{font-size:130%;font-weight:bold;}
	h2{font-size:130%;text-align:left;}
	#nav{width:100%;}
	#header{width:95%;  }
	#name{font-size:130%;padding:15px;}
	#link {margin:auto;padding:15px 0px;}
	#link a{font-size:75%;border style:solid;border-left:1px;}
	#main{width:95%; margin-top:20px;}
	#content{width:100%;float:none;margin:auto auto 10px auto; display:inline-block;}
	.imagewrapper{width:49%;height:5%;margin-right:1px; display:inline-block; }
	.label{ width:100%; }
	img.index{width:50%; float:left;}
	#content p{font-size:80%;}
	#side{float:none;width:100%; margin:20px 0px 20px 0; padding:20px;box-sizing:border-box;display:inline-block;}
}

@media screen and (max-width:640px) {
	
	body{font-size:100%;}
	h1{font-size:200%;font-weight:bold;}
	h2{font-size:140%;text-align:left;}
	#nav{width:100%;}
	#header{width:100%; }
	#name{font-size:200%; width:100% padding:15px;float:none;}
	#link {margin:15;padding:15px;text-align:center;}
	#link a{font-size:120%; padding:0px 20px 0 20px;}
	#main{width:90%; margin-top:20px;}
	#content{width:100%;float:none;margin:auto auto 10px auto; font-size:90%;}
	#content img{width:100%;margin-bottom:20px;}

	.imagewrapper{width:100%;height: 160px; margin-left:auto;margin-bottom:20px; }
	.label{ width:100%; margin-bottom:10px; }
	img.index{width:40%;}
	#content p{font-size:110%;}
	#side{float:none;width:100%; margin:20px 0px 20px 0; padding:20px;box-sizing:border-box;display:inline-block;}
}